@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #5B2D8B;
  --gold: #F4C430;
}

body {
  @apply bg-gray-50 text-gray-800;
}
h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}


.vend-sans {
  font-family: "Vend Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}